<style>

</style>
<div class="message-content">
  <p>Olá {{name}},</p><br>
  <p>Você recebeu esse e-mail porque uma solicitação de troca de senha foi criado no GoBarber.</p>
  <p>Caso você não tenha criado essa solicitação, apenas ignore esse e-mail e sua senha permanecerá igual.</p>
  <p>Para criar uma nova senha clique ou acesse o link abaixo:</p>
  <p>
    <a href="{{link}}" target="_blank" rel="noopener noreferrer">
      {{link}}
    </a>
  </p><br><br>
  <p><strong>Equipe GoBarber</strong></p>
</div>
